{{page-title "EmberProject"}}

    <nav class="navbar navbar-dark bg-dark" style="background-color: #A1CBD0; height: 80px;">
  <div class="container-fluid" style="text-align: center;">
    <a class="navbar-brand" href="index.html">
      <img
        src="https://thumbs.dreamstime.com/b/travel-bus-illustration-light-background-logo-77233460.jpg"
        class="me-2"
        height="80"
        alt="VB Logo"
        loading="lazy"
        align="left"
      />
    </a>
  </div> 
</nav>

{{outlet}}