{{page-title "Totp"}}
 <style>
      .grow img{
      transition: 0.5s ease;
      }

      .grow img:hover{
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      transition: 0.5s ease;
      }
        body {
        justify-content: center;
        font-family: Roboto, Arial, sans-serif;
        font-size: 15px;
        }
      </style>
<center>
  <h2>Choose Your Authenticator tool</h2>
    
    <div class='grow'><a href='qrcode'><center><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLFO28Tu9Iy9K2t5Ey8SLHrT9_4ZheO0SiupcERywMrzDM2IrO3HGy5hqrEWQ-d1d70Kg&usqp=CAU' width='100' height='100'></center></a></div><br><br>

    <div class='grow'><a href='qrcode'><center><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr0CdSKMcEXF8fun9zNjwrZggc9os2DeFa0XaJ7PCCpDR1lu-vwn_1V9B-M2ePFI8AJqY&usqp=CAU' width='80' height='80'></center></a></div>

</center>