{{page-title "Welcome"}}
<center>
<br>

<div class='main'><marquee class='marq' direction='left' loop='infinite' ><div >WELCOME TO OUR SITE...</div></marquee></div>
<br>
<br>
{{#each this.model as |user| }}
<h1>Hello👋 {{user.username}}</h1>
{{/each}}
<a href="view_ticket"><button type="button" class="btn btn-light" data-mdb-ripple-color="dark" style="color: black; font-size: 20px;">VIEW MY TICKETS</button></a>
<br>
<br>
<a href="book_ticket1"><button type="button" class="btn btn-light" data-mdb-ripple-color="dark" style="color: black; font-size: 20px;">BOOK TICKET</button></a>
<br><br>
<br>
<br>
<br>
<button id="logout" value="Logout" type="button" class="btn btn-light" data-mdb-ripple-color="dark" style="color: rgb(225, 30, 108); font-size: 20px;"{{ action "logout" }}>Logout</button>

</center>

<style>
body {

  background-image: url('https://www.nicepng.com/png/full/10-102524_travel-bus-png-bus-booking.png');
  height: 20%;
  background-position: right;
  background-position: bottom -50px right 25px;
  background-repeat: no-repeat;
}
</style>